﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="HACCPReviewParticipants_Container">
                <td valign="top" class="text"><span class="prompt">HACCPReviewParticipants:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HACCPReviewParticipants"  AssociatedControlIDs="HACCPReviewParticipants_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HACCPReviewDate_Container">
                <td valign="top" class="text"><span class="prompt">Review date:</span></td>
                <td class="attribute">
                    <qlm:DateTime  DataKey="HACCPReviewDate"  AssociatedControlIDs="HACCPReviewDate_Container" runat="server" Width="240px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasHACCPReviewLeader_Container">
                <td valign="top" class="text"><span class="prompt">Review leader:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="HasHACCPReviewLeader"  AssociatedControlIDs="HasHACCPReviewLeader_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="HACCPReviewActions_Container">
                <td valign="top" class="text"><span class="prompt">HACCPReviewActions:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="HACCPReviewActions"  AssociatedControlIDs="HACCPReviewActions_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>