﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="ShortDescription_Container">
                <td valign="top" class="text"><span class="prompt">Short description:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="ShortDescription"  AssociatedControlIDs="ShortDescription_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardType_Container">
                <td valign="top" class="text"><span class="prompt">Type:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="FoodSafetyHazardType"  AssociatedControlIDs="FoodSafetyHazardType_Container" runat="server" Width="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HazardHasBacteria_Container">
                <td valign="top" class="text"><span class="prompt">Bacteria:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HazardHasBacteria"  AssociatedControlIDs="HazardHasBacteria_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>