﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="ShortDescription_Container">
                <td valign="top" class="text"><span class="prompt">Short description:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="ShortDescription"  AssociatedControlIDs="ShortDescription_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasTeamMembers_Container">
                <td valign="top" class="text"><span class="prompt">Team memebers:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HasTeamMembers"  AssociatedControlIDs="HasTeamMembers_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasTeamLeader_Container">
                <td valign="top" class="text"><span class="prompt">Team leader:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="HasTeamLeader"  AssociatedControlIDs="HasTeamLeader_Container" runat="server" Width="350px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>