﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="CorrectiveActionHasResponsible_Container">
                <td valign="top" class="text"><span class="prompt">Corrective action responsible:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="CorrectiveActionHasResponsible"  AssociatedControlIDs="CorrectiveActionHasResponsible_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="CCPCorrectiveAction_Container">
                <td valign="top" class="text"><span class="prompt">Corrective action:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="CCPCorrectiveAction"  AssociatedControlIDs="CCPCorrectiveAction_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="CorrectiveActionLimit_Container">
                <td valign="top" class="text"><span class="prompt">CorrectiveActionLimit:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="CorrectiveActionLimit"  AssociatedControlIDs="CorrectiveActionLimit_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>