﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="FoodSafetyHazardHasControlResponsible_Container">
                <td valign="top" class="text"><span class="prompt">Control responsible:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="FoodSafetyHazardHasControlResponsible"  AssociatedControlIDs="FoodSafetyHazardHasControlResponsible_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="CCPHowToControl_Container">
                <td valign="top" class="text"><span class="prompt">How to control:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="CCPHowToControl"  AssociatedControlIDs="CCPHowToControl_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="ControlFrequency_Container">
                <td valign="top" class="text"><span class="prompt">Control frequency:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="ControlFrequency"  AssociatedControlIDs="ControlFrequency_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>