﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="HasHACCPLog_Container">
                <td valign="top" class="text"><span class="prompt">HasHACCPLog:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HasHACCPLog"  AssociatedControlIDs="HasHACCPLog_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="Insert_log_entry_Container">
                <td valign="top" class="text"><span class="prompt">Insert_log_entry:</span></td>
                <td class="attribute">
                    <qlm:Button  ID="Insert_log_entry"  Text="Insert_log_entry" AssociatedControlIDs="Insert_log_entry_Container" runat="server" Width="250px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>