﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="Createprerequisiteanalysis_Container">
                <td valign="top" class="text"><span class="prompt">Createprerequisiteanalysis:</span></td>
                <td class="attribute">
                    <qlm:Button  ID="Createprerequisiteanalysis"  Text="Createprerequisiteanalysis" AssociatedControlIDs="Createprerequisiteanalysis_Container" runat="server" Width="250px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasPrerequisiteAnalysis_Container">
                <td valign="top" class="text"><span class="prompt">HasPrerequisiteAnalysis:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HasPrerequisiteAnalysis"  InMemory="true" AssociatedControlIDs="HasPrerequisiteAnalysis_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>