﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="UserHabits_Container">
                <td valign="top" class="text"><span class="prompt">User habits:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="UserHabits"  AssociatedControlIDs="UserHabits_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="TargetConsumerGroup_Container">
                <td valign="top" class="text"><span class="prompt">Target consumer group:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="TargetConsumerGroup"  AssociatedControlIDs="TargetConsumerGroup_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>